*{
    padding:0 ;
    margin: 0 ;
    font-family: 'Slabo 27px', serif;
}

body{
    background: linear-gradient(to right,white,#cccccc);
    height: 100%;
}

.header{
    background:white;
}

.header::after{
    content:" ";
    clear:both;
    display:block;
    visibility:none;
}

.container-header{
     background:white;
}

.img{
    float:left;
    padding-top: 5px;
}

.nav{
    padding-left:150px;
}
.nav ul li{
    display:inline-block;
}

.nav ul li a{
    padding:30px;
    line-height: 80px;
    text-decoration: none;
    color:black;
}

.nav ul li a:hover{
    color:red;
}

.container-body{
    width:100%;
    padding-top:10px;
    padding-bottom:20px;
}

#example{
    width:100%;
    padding:10px;
    text-align: center;
}

#imgs{
    float:right;
}
#ex-img-1{
    padding: 10px;
}

#ex-img-2{   
    height: 245px;
    padding: 10px;
    width: 217px
}

.section{
    padding:20px;
    background: linear-gradient(to right,white,red);
    border-top-right-radius: 15px;
}

.article{
    padding:20px;
    padding-top:20px;
    margin-top: 10px;
    margin-bottom:10px;
    background: linear-gradient(to right,white, red);
    border-bottom-right-radius: 15px;
}

h3{
    color:white;
    text-align:center;
}

.sec-art{
    float:left;
    display:block;
    width:70%;
    max-width:70%;
}

#aside{
    background: radial-gradient(white,red);
    float:left;
    max-width:25%;
    width:25%;
    padding:20px;
    margin-left:10px;
    border-radius: 15px;
}

#aside p {
    padding:10px;
}

#footer{
    clear:both;
    background:white;
    padding:20px;
}
#footer p{
    text-align: center;
}
#footer h3{
    color:black;
}
